.main {
  width: 100%;
  height: 100vh;
  position: relative;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.main-header {
  padding: 9.47px 0 10px 0;
}

.main-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header-left__logo {
  display: flex;
  align-items: center;
}

.main-header-left__logo_text {
  margin-left: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.main-header-right {
  display: flex;
  align-items: center;
}

.main-header-right__links {
  display: flex;
}

.main-header-right__link > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  line-height: 20px;
  color: #000000;
}

.main-header-right__link:not(:last-child) {
  margin-right: 30px;
}

.main-header-right__link_active > a {
  color: #486ac0;
}

.main-header-right__btnnumber {
  margin-left: 50px;
}

.main-header-right__btnnumber > button {
  cursor: pointer;
  border: none;
  width: 160px;
  height: 35.1px;
  background: linear-gradient(93.44deg, #ed46be 5.12%, #486ac0 100%);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1000px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.main-header-right-mob {
  display: none;
}

/*  */
.main-header-mob {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 22px 50px 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  z-index: 10000;
}

.main-header-mob__close > a {
  display: flex;
  justify-content: end;
}

.main-header-mob__btn {
  margin-top: 30px;
  text-align: center;
}

.main-header-mob__btn > button {
  cursor: pointer;
  width: 160px;
  height: 35.1px;
  border: none;
  font-size: 16px;
  background: linear-gradient(93.44deg, #ed46be 5.12%, #486ac0 100%);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1000px;
  color: #fff;
}

.main-header-mob__links {
  margin-top: 50px;
  text-align: center;
}

.main-header-mob__link > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.main-header-mob__link_active > a {
  color: #486ac0;
}

.main-header-mob__infologo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header-mob__infologo_text {
  margin-left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  background: linear-gradient(90.16deg, #ed46be 1.33%, #486ac0 103.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-header-mob__rule {
  margin-top: 19.87px;
}

.main-header-mob__rule_one {
  display: flex;
  justify-content: center;
}

.main-header-mob__rule_one > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.main-header-mob__rule_two {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.main-header-mob__rule_two > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
/*  */

.main-subheader {
  background: url("../img/background-sub-header.png") 0 0/100% 100% no-repeat;
}

.main-subheader__title {
  padding-top: 142.48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
}

.main-subheader__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.main-subheader__btn {
  margin-top: 20px;
}

.main-subheader__btn > button {
  cursor: pointer;
  border: none;
  width: 200px;
  font-size: 16px;
  height: 35.1px;
  background: linear-gradient(93.44deg, #ed46be 5.12%, #486ac0 100%);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1000px;
  color: #fff;
}

.main-subheader__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 130.88px 0 18.53px 0;
}

.main-subheader__info__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.main-subheader__info_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: linear-gradient(180deg, #ed46be 0%, #486ac0 100%);
}

.main-subheader__btnmob {
  display: none;
}

.main-helpsexol {
  padding: 50px 0;
}

.main-helpsexol__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.main-helpsexol__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px;
}

.main-helpsexol__content__block {
  max-width: 380px;
  display: flex;
  margin-top: 50px;
}

.main-helpsexol__content__block_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ed46be 0%, #486ac0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-helpsexol__content__block_text {
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.main-helpsexolmob__content {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px;
}

.main-helpsexolmob__content__block {
  max-width: 380px;
  display: flex;
  margin-top: 50px;
}

.main-helpsexolmob__content__block_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ed46be 0%, #486ac0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-helpsexolmob__content__block_text {
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.main-helpsexolmob__tgl {
  display: none;
}

.main-helpsexolmob__tgl > a:not(:last-child) {
  margin-right: 5px;
}

.main-helpsexolmob__tgl_toggle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #424242;
}

.main-helpsexolmob__tgl_toggle_act {
  background: #ed46be;
}

.main-helpsexol__infoone {
  margin-top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.main-helpsexol__infotwo {
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.main-helpsexol__ord {
  margin-top: 20px;
}

.main-helpsexol__ord > button {
  cursor: pointer;
  border: none;
  width: 200px;
  height: 35.1px;
  font-size: 16px;
  background: linear-gradient(93.44deg, #ed46be 5.12%, #486ac0 100%);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1000px;
  color: #fff;
}

.main-ourben__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.main-ourben__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  grid-gap: 30px;
}

.main-ourben__content_ben {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 310.82px;
}

.main-ourben__content_ben_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.main-ourben__content_ben_text {
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.main-reviews {
  margin-top: 50px;
}

.main-reviews__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.main-reviews__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.main-reviews__content__rev {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  width: 340px;
  height: 340px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.main-reviews__content__rev_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.main-reviews__content__revmob {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  width: 340px;
  height: 340px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.main-reviews__content__revmob_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.main-reviews__list {
  display: none;
  justify-content: center;
  margin-top: 10px;
}

.main-reviews__list > a {
  margin-right: 5px;
}

.main-reviews__list_c {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #424242;
}

.main-reviews__list_c_active {
  background: #ed46be;
}

.main-reviews__list_c:not(:last-child) {
  margin-right: 4px;
}

.main-reviews__btn {
  margin-top: 30px;
  text-align: center;
}

.main-reviews__btn > button {
  cursor: pointer;
  width: 200px;
  border: none;
  height: 35.1px;
  font-size: 16px;
  background: linear-gradient(93.44deg, #ed46be 5.12%, #486ac0 100%);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1000px;
  color: #fff;
}

.main-subfooter {
  margin-top: 50px;
}

.main-subfooter__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-subfooter__content_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 228.82px;
}

.main-subfooter__content_block:not(:last-child) {
  margin-right: 100px;
}

.main-subfooter__content_block_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.main-subfooter__content_block_text {
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.main-footer {
  margin-top: 35.39px;
  padding: 25px 0;
  background: linear-gradient(90.18deg, #ed46be 0%, #486ac0 100%);
}

.main-footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer-left {
  display: flex;
  align-items: center;
}

.main-footer-left__textone {
  margin-right: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.main-footer-left__texttwo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.main-footer-right {
  display: flex;
  align-items: center;
}

.main-footer-right__textone {
  margin-right: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.main-footer-right__texttwo {
  display: flex;
  align-items: center;
}

.main-footer-right__texttwo_img {
  margin-right: 10px;
}

.main-footer-right__texttwo_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

@media (max-width: 1366px) {
  .main-header-left__logo_text {
    font-size: 21px;
  }

  .main-header-right__link > a {
    font-size: 13px;
  }

  .main-header-right__btnnumber > button {
    width: 150px;
    font-size: 13px;
  }

  .main-subheader__title {
    font-size: 33px;
  }

  .main-subheader__text {
    font-size: 21px;
  }

  .main-subheader__btn > button {
    width: 190px;
    font-size: 13px;
  }

  .main-subheader__info__text {
    font-size: 17px;
  }

  .main-helpsexol__title {
    font-size: 21px;
  }

  .main-helpsexol__content__block_title {
    font-size: 19px;
  }

  .main-helpsexol__content__block_text {
    font-size: 11px;
  }

  .main-helpsexol__infoone {
    font-size: 13px;
  }

  .main-helpsexol__infotwo {
    font-size: 13px;
  }

  .main-helpsexol__ord > button {
    width: 190px;
    font-size: 13px;
  }

  .main-ourben__title {
    font-size: 21px;
  }

  .main-ourben__content_ben_text {
    font-size: 17px;
  }

  .main-reviews__title {
    font-size: 21px;
  }

  .main-reviews__content__rev_text {
    font-size: 13px;
  }

  .main-reviews__btn > button {
    font-size: 13px;
  }

  .main-subfooter__content_block_text {
    font-size: 17px;
  }

  .main-footer-left__textone {
    font-size: 13px;
  }

  .main-footer-left__texttwo {
    font-size: 11px;
  }

  .main-footer-right__textone {
    font-size: 13px;
  }

  .main-footer-right__texttwo_text {
    font-size: 13px;
  }
}

@media (max-width: 1194px) {
  .container {
    max-width: 1118px;
  }
}

@media (max-width: 1080px) {
  .container {
    max-width: 1027px;
  }

  .main-reviews__content__rev {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 953px;
    margin: 0 auto;
  }

  .main-header-left__logo_text {
    font-size: 19px;
  }

  .main-header-right__link > a {
    font-size: 11px;
  }

  .main-header-right__btnnumber > button {
    width: 150px;
    font-size: 11px;
  }

  .main-subheader__title {
    font-size: 31px;
  }

  .main-subheader__text {
    font-size: 19px;
  }

  .main-subheader__btn > button {
    width: 190px;
    font-size: 11px;
  }

  .main-subheader__info__text {
    font-size: 15px;
  }

  .main-helpsexol__title {
    font-size: 19px;
  }

  .main-helpsexol__content__block_title {
    font-size: 17px;
  }

  .main-helpsexol__content__block_text {
    font-size: 11px;
  }

  .main-helpsexol__infoone {
    font-size: 11px;
  }

  .main-helpsexol__infotwo {
    font-size: 11px;
  }

  .main-helpsexol__ord > button {
    width: 190px;
    font-size: 11px;
  }

  .main-ourben__title {
    font-size: 19px;
  }

  .main-ourben__content_ben_text {
    font-size: 15px;
  }

  .main-reviews__title {
    font-size: 19px;
  }

  .main-reviews__content__rev {
    width: 280px;
    height: 280px;
  }

  .main-reviews__content__rev_text {
    font-size: 10px;
  }

  .main-reviews__btn > button {
    font-size: 11px;
  }

  .main-subfooter__content_block_text {
    font-size: 15px;
  }

  .main-footer-left__textone {
    font-size: 11px;
  }

  .main-footer-left__texttwo {
    font-size: 11px;
  }

  .main-footer-right__textone {
    font-size: 11px;
  }

  .main-footer-right__texttwo_text {
    font-size: 11px;
  }
}

@media (max-width: 926px) {
  .container {
    max-width: 875px;
  }

  .main-reviews__content__rev {
    width: 245px;
    height: 245px;
  }

  .main-reviews__content__rev_text {
    font-size: 9px;
  }
}

@media (max-width: 844px) {
  .container {
    max-width: 805px;
  }
}

@media (max-width: 834px) {
  .container {
    max-width: 774px;
  }

  .main-reviews__content {
    justify-content: center;
  }

  .main-reviews__content__rev {
    display: none;
  }

  .main-reviews__content__revmob {
    display: flex;
  }

  .main-reviews__content__arrowb {
    margin-right: 10px;
  }

  .main-reviews__content__arrown {
    margin-left: 10px;
  }

  .main-reviews__list {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .main-reviews__list {
    display: flex;
  }

  .main-helpsexol__content {
    display: none;
  }

  .main-helpsexolmob__content {
    display: flex;
  }

  .main-helpsexolmob__content__block {
    max-width: 300px;
    flex-wrap: wrap;
  }

  .main-helpsexolmob__content__block > img {
    width: 300px;
  }

  .main-helpsexolmob__tgl {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 810px) {
  .container {
    max-width: 743px;
  }

  .main-header-right {
    display: none;
  }

  .main-header-right-mob {
    display: block;
  }

  .main-header-mob {
    display: flex;
  }
}

@media (max-width: 780px) {
  .container {
    max-width: 733px;
  }

  .main-ourben__content_ben {
    width: 310.82px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 736px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 667px) {
  .container {
    max-width: 635px;
  }

  .main-header-mob__links {
    margin-top: 20px;
  }
}

@media (max-width: 568px) {
  .container {
    max-width: 500px;
  }

  .main-subheader {
    background: url("../img/background-sub-header-mob.png") 0 0/100% 100% no-repeat;
  }
  .main-subheader__title {
    padding-top: 30px;
    font-size: 24px;
    text-align: center;
  }

  .main-subheader__text {
    font-size: 15px;
    text-align: center;
  }

  .main-subheader__info {
    padding: 0;
    justify-content: center;
    font-size: 11px;
  }

  .main-subheader__info__text {
    font-size: 11px;
  }

  .main-subheader__btn {
    display: none;
  }

  .main-subheader__info_logo {
    display: none;
  }

  .main-subheader__btnmob {
    padding: 191px 0 20px 0;
    display: flex;
    justify-content: center;
  }

  .main-subheader__btnmob > button {
    cursor: pointer;
    border: none;
    width: 300px;
    height: 50px;
    background: linear-gradient(93.44deg, #ed46be 5.12%, #486ac0 100%);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 1000px;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }

  .main-subfooter__content {
    align-items: baseline;
    flex-wrap: wrap;
    grid-gap: 10px;
  }

  .main-subfooter__content_block {
    max-width: 200px;
  }

  .main-subfooter__content_block:not(:last-child) {
    margin-right: 0;
  }

  .main-footer-content {
    flex-wrap: wrap;
  }

  .main-footer-left {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .main-footer-right {
    margin-top: 10px;
  }

  .main-header-mob__link > a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }

  .main-header-mob__btn > button {
    width: 140px;
    height: 33.1px;
    font-size: 14px;
  }

  .main-header-mob__rule {
    margin-top: 3.87px;
  }

  .main-header-mob__rule_one > a {
    font-size: 13px;
  }

  .main-header-mob__rule_two > a {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 449px;
  }
}

@media (max-width: 428px) {
  .container {
    max-width: 390px;
  }

  .main-header-mob__links {
    margin-top: 20px;
  }

  .main-header-mob__link > a {
    font-size: 14px;
  }

  .main-header-mob__btn > button {
    width: 160px;
    height: 35.1px;
    font-size: 14px;
  }

  .main-header-mob__rule {
    margin-top: 19.87px;
  }

  .main-header-mob__rule_one > a {
    font-size: 14px;
  }

  .main-header-mob__rule_two > a {
    font-size: 14px;
  }

  .main-subheader {
    background: url("../img/background-sub-header-mob.png") 0 0/100% 100% no-repeat;
  }
  .main-subheader__title {
    padding-top: 30px;
    font-size: 24px;
    text-align: center;
  }

  .main-subheader__text {
    font-size: 15px;
    text-align: center;
  }

  .main-subheader__info {
    padding: 0;
    justify-content: center;
    font-size: 11px;
  }

  .main-subheader__info__text {
    font-size: 11px;
  }

  .main-subheader__btn {
    display: none;
  }

  .main-subheader__info_logo {
    display: none;
  }

  .main-subheader__btnmob {
    padding: 191px 0 20px 0;
    display: flex;
    justify-content: center;
  }

  .main-subheader__btnmob > button {
    cursor: pointer;
    border: none;
    width: 300px;
    height: 50px;
    background: linear-gradient(93.44deg, #ed46be 5.12%, #486ac0 100%);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 1000px;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }

  .main-subfooter__content {
    align-items: baseline;
    flex-wrap: wrap;
    grid-gap: 10px;
  }

  .main-subfooter__content_block {
    max-width: 200px;
  }

  .main-subfooter__content_block:not(:last-child) {
    margin-right: 0;
  }

  .main-footer-content {
    flex-wrap: wrap;
  }

  .main-footer-left {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .main-footer-right {
    margin-top: 10px;
  }
}

@media (max-width: 390px) {
  .container {
    max-width: 360px;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 330px;
  }

  .main-header-left__logo_text {
    font-size: 17px;
  }

  .main-subheader__title {
    font-size: 22px;
  }

  .main-subheader__text {
    font-size: 13px;
  }

  .main-subheader__info__text {
    font-size: 9px;
  }

  .main-subheader__btnmob > button {
    width: 250px;
    height: 44px;
    font-size: 17px;
  }

  .main-helpsexol__title {
    font-size: 17px;
  }

  .main-helpsexolmob__content__block_title {
    font-size: 20px;
  }

  .main-helpsexolmob__content__block_text {
    font-size: 12px;
  }

  .main-helpsexol__infoone {
    font-size: 9px;
  }

  .main-helpsexol__infotwo {
    font-size: 9px;
  }

  .main-ourben__title {
    font-size: 17px;
  }

  .main-ourben__content_ben_text {
    font-size: 13px;
  }

  .main-reviews__title {
    font-size: 17px;
  }

  .main-reviews__content__revmob_text {
    font-size: 14px;
  }

  .main-subfooter__content_block_text {
    font-size: 11px;
  }

  .main-footer-left__textone {
    font-size: 10px;
  }

  .main-footer-left__texttwo {
    font-size: 10px;
  }

  .main-footer-right__textone {
    font-size: 10px;
  }

  .main-footer-right__texttwo_text {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }
}
